<table>
  <thead>
  <tr>
    <th colspan="2">Id</th>
    <th colspan="2">Firstname</th>
    <th colspan="2">Lastname</th>
    <th colspan="2">Age</th>
    <th colspan="2">Image</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users$ | async">
    <td colspan="2">{{user.id}}</td>
    <td colspan="2">{{user.firstName}}</td>
    <td colspan="2">{{user.lastName}}</td>
    <td colspan="2">{{user.age}}</td>
    <td colspan="2">

      <img src="http://localhost:8080/users/{{user.id}}/image" width="100px" alt="no image"></td>
  </tr>
  </tbody>
</table>
