<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="firstName">

  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName">

  <label for="age">Age: </label>
  <input id="age" type="number" formControlName="age">

  <button type="submit" [disabled]="!userForm.valid">Go</button>
</form>
