<form [formGroup]="fileForm" (ngSubmit)="onSubmit()">

  <label for="userId">User id :</label>
  <select id="userId" type="text" formControlName="userId">
    <option *ngFor="let user of users$ | async" value="{{user.id}}"> {{user.id}}</option>
  </select>
  <label for="file">Image :</label>
  <input id="file" type="file" formControlName="file" (change)="onFileChanged($event)">
  <button type="submit" [disabled]="!fileForm.valid">Go</button>
</form>
