<div>
  <a routerLink="" routerLinkActive="active">Home</a>
  <a routerLink="addUser" routerLinkActive="active">Add User</a>
  <a routerLink="addFile" routerLinkActive="active">Add File</a>
</div>
<router-outlet></router-outlet>
